/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.menu {
    margin: auto;
    width: 1000px;
    top: 10px;
    padding: 1%;
    position: relative;
    display: flex;
}

.text {
    flex: 1;
    font-size: 130%;
    line-height: 4rem;
    text-align: center;
    color: white;
    font-family: 微軟正黑體, sans-serif;
    font-weight: bolder;
    position: relative;
    text-decoration: none;
    border-radius: 10px;
    text-shadow: 2px 2px 2px #6e706c;
}

.text:hover {
    transform: scale(1.2);
}

hr {
    width: 80%;
    text-shadow: 2px 2px 2px #6e706c;
}

body {
    background-color: rgb(32, 32, 53);
    margin-left: -5%;
    margin-right: -5%;
}

#welcome {
    font-size: 220%;
    margin: auto;
    top: 30px;
    padding: 5%;
    bottom: 30%;
    margin-bottom: 5%;
    padding-left: 35%;
    color: white;
    font-weight: bold;
    font-family: 微軟正黑體, sans-serif;
    position: relative;
    background-color: rgb(17, 17, 32);
    text-shadow: 2px 2px 2px #6e706c;
}

#welcome_text {
    font-size: 100%;
    margin-left: -30%;
    top: 5%;
    bottom: 30%;
    color: white;
    font-weight: bold;
    font-family: 微軟正黑體, sans-serif;
    position: relative;
    text-shadow: 2px 2px 2px #6e706c;
}

#frame{
    width: 60%;
    border-radius: 50px;
    padding:3%;
    margin: 5%;
    margin-left:20%;
    background-color:rgb(78, 78, 129);
}

.info {
    font-size: 150%;
    color: white;
    padding: 1%;
    padding-left: 2%;
    color: white;
    font-weight: bold;
    font-family: 微軟正黑體, sans-serif;
    position: relative;
    text-shadow: 2px 2px 2px #6e706c;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 80%;
    margin-bottom: 5%;
    color: white;
    font-weight: bold;
    font-family: 微軟正黑體, sans-serif;
    position: relative;
    text-shadow: 2px 2px 2px #6e706c;
}


