<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}" >
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/about.js') }}"></script>
    <title>睡眠儀錶板</title>
    <div class="menu">
        <img src=/static/images/nculogo.png width="80" height="70">
        <a href="homepage.html" class="text">首&nbsp;&nbsp;頁</a>
        <a href="start.html" class="text">如何開始</a>
        <a href="sleepClassroom.html" class="text">睡眠小學堂</a>
        <a href="introduction.html" class="text">專案介紹</a>
        <a href="problem.html" class="text">常見問題</a>
        <a href="about.html" class="text">關於我們</a>
    </div>
</head>

<body>
    <div id="welcome">
        <p id="welcome_text">~~來看看我們的團隊吧~~</p>
    </div>
    <div id="frame">
        <ul class="info">
            <li class="name">
                <font size="6px">張智宇(組長)</font>
                <br><br>
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科系：地科系
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年級：大四
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;電話：0975341915
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email：t1616joy@yahoo.com.tw
                <br><br><br><br>
            </li>
            <li class="name">
                <font size="6px">謝舒雲：</font>
                <br><br>
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科系：地科系
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年級：大四
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;電話：0926406336
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email：nikouniverse50714@gmail.com
                <br><br><br><br>
            </li>
            <li class="name">
                <font size="6px">張杰宸：</font>
                <br><br>
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科系：地科系
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年級：大四
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;電話：0978579458
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email：jason032089@gmail.com
                <br><br><br><br>
            </li>
            <li class="name">
                <font size="6px">王誌延：</font>
                <br><br>
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科系：大氣系
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年級：大三
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;電話：0905111413
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email：y2719183@gmail.com
                <br><br><br><br>
            </li>
            <li class="name">
                <font size="6px">侯皓為：</font>
                <br><br>
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科系：文學院學士班
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年級：大二
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;電話：0965159015
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email：kongshi1722@gmail.com
                <br><br><br><br>
            </li>
        </ul>
    </div>
</body>

</html>