{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit "{{ post['deep_sleep'] }}" {% endblock %}</h1>
    <form method="post">
        <label for="deep_sleep">deep_sleep</label>
        <br>
        <input type="text" name="deep_sleep"
               placeholder="Post deep_sleep"
               value="{{ request.form['deep_sleep'] or post['deep_sleep'] }}"></input>
        <br>

        <label for="light_sleep">light_sleep</label>
        <br>
        <textarea name="light_sleep"
                  placeholder="Post light_sleep"
                  rows="15"
                  cols="60"
                  >{{ request.form['light_sleep'] or post['light_sleep'] }}</textarea>
        <br>
        <button type="submit">送出</button>
    </form>

    <hr>
    <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
        <input type="submit" value="Delete Post"
                onclick="return confirm('Are you sure you want to delete this post?')">
    </form>
    
{% endblock %}