<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/problem.css') }}" >
    <title>睡眠儀錶板</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script  src="{{ url_for('static',filename='js/problem.js') }}"></script>
    <div class="menu">
        <img src=/static/images/nculogo.png width="80" height="70">
        <a href="homepage.html" class="text">首&nbsp;&nbsp;頁</a>
        <a href="start.html" class="text">如何開始</a>
        <a href="sleepClassroom.html" class="text">睡眠小學堂</a>
        <a href="introduction.html" class="text">專案介紹</a>
        <a href="problem.html" class="text">常見問題</a>
        <a href="about.html" class="text">關於我們</a>
    </div>
</head>

<body>
    <div id="welcome">
        <p id="welcome_text">~您的問題我來解決~</p>
    </div>

    <div class="content" style="line-height:130%">
        Q1.我上傳自己的生理數據到網站上是否有個人隱私的問題呢?<br><br>
        答: 不會的，我們的資料都會進行去識別化，只有使用者本人可以知道自己的資料數據<br><br><br><br>

        Q2.要怎麼上傳自己的穿戴裝置數據?<br><br>
        答:點選上方的「取資料指南」，就會有詳細的步驟說明喔<br><br><br><br>

        Q3.此網站的服務需要收費嗎?<br><br>
        答:不用，我們提供所有使用者最優質的免費服務 <br><br><br><br>

        Q4. 什麼穿戴式裝置都可以適用此網站嗎?<br><br>
        答:目前原則上以小米手環和小米手錶為主喔<br><br><br><br>

    </div>

</body>

</html>