<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/start.css') }}" >
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script  src="{{ url_for('static',filename='js/start.js') }}"></script>
    <title>睡眠儀錶板</title>
    <div class="menu">
        <img src=/static/images/nculogo.png width="80" height="70">
        <a href="homepage.html" class="text">首&nbsp;&nbsp;頁</a>
        <a href="start.html" class="text">如何開始</a>
        <a href="sleepClassroom.html" class="text">睡眠小學堂</a>
        <a href="introduction.html" class="text">專案介紹</a>
        <a href="problem.html" class="text">常見問題</a>
        <a href="about.html" class="text">關於我們</a>
    </div>
</head>

<body>
    <div id="welcome">
        <p id="welcome_text">~開始監測您的睡眠品質~</p>
    </div>

    <ul class="getdata">
        <li class="step">步驟一 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;到手機商城下載zepplife<br>
            <br><img src='/static/images/zepplife1.jpg' width="80%" height="90%"></li>
        <li class="step">步驟二 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下載完成後點選右上角 + <br>
            <br><img src='/static/images/zepplife2.jpg' width="80%" height="90%"></li>
    </ul>
    <ul class="getdata">
        <li class="step">步驟三 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;綁定您的裝置(以手環為例)<br>
            <br><img src='/static/images/zepplife3.jpg' width="80%" height="90%"></li>
        <li class="step">步驟四 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;到手機商城下載notify<br>
            <br><img src='/static/images/notify1.jpg' width="80%" height="90%"></li>
    </ul>
    <ul class="getdata">
        <li class="step">步驟五 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;綁定您的裝置(以手環為例)<br>
            <br><img src='/static/images/notify2.jpg' width="80%" height="90%"></li>
        <li class="step">步驟六 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;點選右上角圖示並選擇工具<br>
            <br><img src='/static/images/notify3.jpg' width="80%" height="90%"></li>
    </ul>
    <ul class="getdata">
        <li class="step">步驟七 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;蒐集震動資料並取得檔案<br>
            <br><img src='/static/images/notify4.jpg' width="80%" height="90%"></li>
        <li class="step">步驟八 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上傳您的資料<br>
            <br><img src='/static/images/notify5.jpg' width="80%" height="90%"></li>
    </ul>
    <ul class="getdata">
        <li class="step">步驟九 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;得到結果<br>
            <br><img src='/static/images/notify6.jpg' width="80%" height="90%"></li>
        <li class="step">步驟十 ：<br><br>&nbsp;&nbsp;&nbsp;&nbsp;填寫回饋表單~~<br>
            <br><img src='/static/images/notify6.jpg' width="80%" height="90%"></li>
    </ul>



</body>

</html>